<%if current_user%>
  <br />
    <%if @projects%>
    		<table>
    		  <tr>
    		    <th>Name</th>
    		    <th>Create at Date</th>
    			  <th>language</th>
    			  <th>Repo Owner</th>
    			  <th>Last Modified</th>
    		  </tr>

    		<% @projects.each do |project| %>
    		  <tr>
    		    <td><%= project.name %></td>
    		    <td><%= project.created_at.inspect[1..10] %></td>
    			<td><%= project.language %> </td>
    			<td><%= project.owner.login %> </td>
    			<td><%= project.pushed_at.inspect[1..10] %> </td>
    		  </tr>
    		<% end %>
    		</table>
    		<br /><br />
    <%end%>
<%end%>


